<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="main">
            <directory suffix="Test.php">tests/</directory>
            <file>/tests/RegisterTest.php</file>
            <file>/tests/LoginTest.php</file>
            <file>/tests/AddScoreTest.php</file>
            <file>/tests/GetScoresTest.php</file>
            <file>/tests/DeleteScoresTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>